@media (max-width: 700px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin-bottom: 10px;
        margin-right: 0;
    }
    
    nav ul li a {
        font-size: 1.2rem;
    }

    main {
        padding: 1rem;
    }
    
    footer {
        font-size: 0.8rem;
    }
    
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item{
        width: 200px;
    }
    /* აქ არის  იტემ ჰტმლის სტილები რ ესპონსზე */
    .slider{
        width: auto;
    }

    .slider-images {
        width: 297px;
        max-width: 500px;
        display: flex;
    }
    .slide img {
        /* width: 100%; */
        /* width: 500px; */
        max-width: 300px;
        display: block;
    }
}