/* slider.css */
.container{
    display: flex;
    flex-direction: column;
}
.slider {
    position: relative;
    width: 500px;
    max-width: 500px;
    margin-top: 20px;
    
  }
  
  .slider-images {
    width: 500px;
    max-width: 500px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
  }
  
  .slide {
    scroll-snap-align: start;
    flex: 0 0 auto;
  }
  
  .slide img {
    width: 100%;
    width: 500px;
    max-width: 500px;
    display: block;
  }
  
  /* Slider navigation buttons */
  #prev-slide, #next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }
  
  #prev-slide {
    left: 10px;
  }
  
  #next-slide {
    right: 10px;
  }
  